<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>VVVCreator Success</title>
    <link rel="stylesheet" href="../Style.css">
    <!--<script src="script.js"></script>-->
</head>
  <body>
      <div><img src="../VVVLogo.png" style="width:240px"/></div>
      <h2>You have successfully created a new ViViVerse family!</h2>
      <div>
        A .h and a .cpp file have been created in the 'header' and 'source' directories of the symbiosis project folder. This is what you have to do now:
          <ol>
              <li>
                  Move the .h file into the 'include' folder under the 'common' folder.
              </li>
              <br />
              <li>
                  Add the .h and .cpp files to the symbiosis project files (MSBuild and CMake).
              </li>
              <br />
          </ol>
        <p>After this, you can build the the project.</p>
      </div>      
  </body>
</html>