<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>VVVCreator Success</title>
    <link rel="stylesheet" href="../Style.css">
    <!--<script src="script.js"></script>-->
</head>
<body>
    <div><img src="../VVVLogo.png" style="width:240px" /></div>
    <h2>You have successfully created a new ViViVerse package!</h2>
    <div>
        <p>Because it is empty, the collection library will not be created and the organelle module will not build successfully.</p>
        <p>
            You can now add organelles to the collection using one of the organelle templates.<br />
            Once you have created your first organelle, you should uncomment the organelle info array in the module-cpp file and add the organelle info structure of the organelle to the array.
        </p>
    </div>
</body>
</html>