<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Success</title>
    <!--<link rel="stylesheet" href="style.css">
    <script src="script.js"></script>-->
  </head>
  <body>
      <h1>You have successfully created the organelle module!</h1>
      <div>
        <p>You can now add organelle references by uncommenting the organelle info array in the module-cpp file and add the organelle info structure of the organelle to the array.</p>
      </div>      
  </body>
</html>