# Exclude build artefacts
.vs
**/w32
**/x64
**/arm
**/linux/x64
**/intermediate
**/Release
**/Debug
**/internal
runtime/quality
**/obj
**/ipch
*.o
*.suo
*.ncb
*.user
*.vspscc
*.vssscc
*.tlog
*.so
*.log
*.ilk
*.iobj
*.ipdb
*.pdb
*.dll
*.FileListAbsolute.txt

