<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>VVVCreator Success</title>
    <link rel="stylesheet" href="../Style.css">
    <!--<script src="script.js"></script>-->
</head>
<body>
    <div><img src="../VVVLogo.png" style="width:240px" /></div>
    <h2>You have successfully created a new ViViVerse common organelle library!</h2>
    <div>
        A project folder with all required files has been created. This is what you have to do now:
        <ol>
            <li>
                Add the MSBuild project to the package solution - once for Windows and once for Linux.
            </li>
            <br />
            <li>
                Add the library folder to the CMakeLists.txt file of the package.
            </li>
            <li>
                Move the file in the include folder to the common/include folder.
            </li>
            <br />
        </ol>
        <p>After this, you can build the the package.</p>
    </div>
</body>
</html>